/* Fonts */
@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
}

@font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
}

@font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
}

body {
    /* Colors */
    --body-color: #E4E9F7;
    --primary-color: #FF0000;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --quaternary--color: #efefef;
    --toggle-color: #DDD;
    --text-color: #707070;
    --hover-color: #454545;

    /* Font-sizes */
    --header-text: 24px;
    --large-text: 20px;
    --medium-text: 18px;
    --small-text: 16px;

    /* Font-weight */
    --primary-weight: 500;

    /* Spacings/heights */
    --button-height: 45px;

    --primary-space: 1em;
    --secondary-space: 2em;

    /* Borders */
    --button-radius: 5px;

    /* Extra */
    --primary-transition: 0.3s;

    background-color: var(--body-color);
    font-family: AvenirMedium;

}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* HTML - Buttons */
.btn {
    width: auto;
    height: var(--button-height);
    border: none;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: var(--button-radius);
    font-size: var(--medium-text);
    font-weight: var(--primary-weight);
    transition: var(--primary-transition);
    cursor: pointer;
    margin-bottom: var(--primary-space);
    padding-inline: var(--primary-space);
}

.themebtn {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.linkbtn {
    color: var(--tertiary-color);
    background-color: var(--quaternary--color);
    text-decoration: underline;
}

/* HTML - Forms */
.input-field {
    width: auto;
    height: var(--button-height);
    border: none;
    padding-inline: var(--primary-space);
    background-color: var(--quaternary--color);
    color: var(--text-color);
    outline: none;
    font-size: var(--small-text);
    transition: var(--primary-transition);
    border-radius: var(--button-radius);
}

select {
    background-color: var(--quaternary--color);
    cursor: pointer;
    border: none;
    border-radius: var(--button-radius);
    transition: var(--primary-transition);
    padding: var(--primary-space);
    margin-bottom: var(--secondary-space);
}

.searchForm {
    display: flex;
    gap: var(--primary-space);
}